.App {
  text-align: center ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css or src/components/CustomNavbar.css */
.custom-dropdown-toggle {
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity)) !important;  /* Make background black */
  color: white !important;            /* Make the text color white */
  border: none !important;           /* Remove border */
}

.custom-dropdown-toggle:hover {
  background-color: #333 !important; /* Darker shade on hover */
  color: white !important;
}
/* In your CSS file, for example, src/index.css or App.css */

.Toastify__toast--success {
  background: #4caf50;
  color: white;
}

.Toastify__toast--error {
  background: #f44336;
  color: white;
}

.Toastify__toast--info {
  background: #2196f3;
  color: white;
}
